.cart-style img{
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0 0;
    
    
}
.cart-style {
    margin-left: 50px;
    border: 2px solid red;
    position: static;
    background-color: #23586A ;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}
.card-style{
    margin-left: 15px;
}
.name{
    font-weight: 500;
    font-size: 15px;
}
